{% extends "home/base.html" %}
{% block content %}
<div class="content">
  <div>
    <h1 id="centeredText">Welcome to Nick's Naks!</h1>
    <h4 id="centeredText">Where dreams can... sometimes come true! For a price 😈</h4>
  </div>
  <div class="card p-4" id="horizontalSign">
    
    <div id="child">
      <h2>Log In</h2>
      <hr>
      <br>
      
      <b>Already in on the fun? Log back in to continue!</b>
      <br>
      <br>
        
        <a class="nav-item nav-link" href="/login">
          <button class="btn btn-outline-success text-dark" id="login"><b>Log In</b></button>
        </a>
        <br>
    </div>
    
    <div id="child">
      <h2>Register</h2>
        <hr>
        <br>

        <b>Would you like to join in on the fun?</b>
        <br>
        <br>

        <a class="nav-item nav-link" href="/register">
          <button class="btn btn-outline-info text-dark" id="login"><b>Sign Up</b></button>
        </a>
        <br>
    </div>

  </div>
</div>
{% endblock content %}