{% extends "home/base.html" %}
{% block content %}
<div class="content">
  <div>
    <h2>Welcome to Nick's Naks!</h2>
  </div>
  <div class="card p-4" id="horizontalSign">
    
    <div id="child">
      <h1>Log In</h1>
      <hr>
      <br>
      
      <b>Already in on the fun? Log back in to continue!</b>
      <br>
      <br>
        
        <a class="nav-item nav-link" href="/login">
          <button class="btn btn-danger text-dark" id="login"><b>Log In</b></button>
        </a>
        <br>
    </div>
    
    <div id="child">
      <h1>Register</h1>
        <hr>
        <br>

        <b>Would you like to join in on the fun?</b>
        <br>
        <br>

        <a class="nav-item nav-link" href="/login">
          <button class="btn btn-danger text-dark" id="login"><b>Sign Up</b></button>
        </a>
        <br>
    </div>

  </div>
</div>
{% endblock content %}