{% extends "home/base.html" %}
{% block content %}
    <p>Welcome to you account page <b>{{ first_name }} {{ last_name }}</b></p>

    <div class="wideButtonSelection">
        <form method="POST" onsubmit="return confirm('Are you sure you want to DELETE your account?')">
            {% csrf_token %}
            <button class="btn btn-outline-danger" type="submit" name="delete_acc"><b>Delete Account</b></button>
        </form>

        <form method="POST">
            {% csrf_token %}
        <button class="btn btn-outline-warning" type="submit" name="log_out"><b>Log Out</b></button>
        </form> 

    </div>

{% endblock content %}