{% extends "home/base.html" %} {% block content %}{% load crispy_forms_tags %}
<h1>Register</h1>
<div class="content-section">
    <form method="POST" >
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
            <br>
            {{ register_form|crispy }}
        </fieldset>
        <br>

        {% if error_message %}
            <div class="errorBox">
                {{ error_message }}
            </div>
        {% endif %}

        <br>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
</div>
</div>
{% endblock content %}