{% extends "home/base.html" %}
{% block content %}
    <style>
        #center {
            margin: auto;
            text-align: center;
            padding: 10px;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .btn-light:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
            color: rgb(0, 0, 0);
            background-color: #87d8eb;
            border-color: #1d65a3;
        }
    </style>
    <div id="center">

        <h1> Items </h1>

        <div class="row">
        {% for item in items %}
        <div class="col-md-3">
            <form action="{% url 'items_app:specific_item' item.id %}" method="GET">
            {% csrf_token %}
                    <button class="btn btn-light" type="submit">
                        <article class="media content-section">
                            <img src={{ item.image }} height="100">
                            <div class="media-body">
                                {{ item.name }}  {{ item.price }}
                            </div>
                        </article>
                    </button>
            </form>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %} 