{% extends "home/base.html" %}
{% block content %}
    <style>
        .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
            color: rgb(255, 255, 255);
            background-color: #34a13a;
            border-color: #1d65a3;
        }
    </style>
    {% if messages %}
        <div>
            <h1>{{ message }}</h1>   
        </div>
        <br>
    {% endif %}

    <img src={{ item.image }}>
    <h1> {{ item.name }} </h1>
    <h2> {{ item.price }} </h2>
    <form action="{% url 'items_app:add_item' item.id user list %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-success btn-lg" type="submit">Add to list</button>
    </form>
    <br><br>
    <h3>Category: {{ item.category }} </h3>
    <h4>Description: {{ item.description }}</h4>


{% endblock content %}