{% extends "home/base.html" %}
{% block content %}
<!--Section: Block Content-->
<section>

    <!--Section: Block Content-->
    <!-- <h1>{{ userlist.id }}</h1>
        <h1>{{ userlist.list_name }}</h1>
        <h1>{{ userlist.user }}</h1>
        {% for items in userlist.user_list %}
            <h2>{{ items.id }}</h2>
            <h2>{{ items.name }}</h2>
            <h2> {{ items.price }}</h2>
        {% endfor %} -->

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-8">

            <!-- Card -->
            <div class="mb-3">
                <div class="pt-4 wish-list">

                    <h3 class="mb-4">Wishlist: {{userlist.list_name}}</h3>
                    
                    {% for items in userlist.user_list %}
                    <div class="row mb-4">
                        <div class="col-md-5 col-lg-3 col-xl-3">
                            <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                                <img class="img-thumbnail"
                                    src={{items.image}}
                                    alt="Image">
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-9 col-xl-9">
                            <div>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h4 class="text-uppercase">{{items.name}}</h4>
                                        <p class="mb-3 text-success" >Category: {{items.category}}</p>
                                        <p class="mb-2 text-success">Description: {{items.description}}</p>
                                    </div>
                                </div>
                                <br>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <a class="btn btn-danger" href="#" role="button" class="card-link-secondary small text-uppercase mr-3"><i
                                                class="fas fa-trash-alt mr-1"></i> Remove item </a>
                                        <a class="btn btn-primary" href="#" role="button" class="card-link-secondary small text-uppercase"><i
                                                class="fas fa-heart mr-1"></i> Edit item </a>
                                    </div>
                                    <p ><span><strong id="price">${{items.price}}</strong></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <hr class="mb-4">
                </div>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4">

            <!-- Card -->
            <div class="mb-3">
                <div class="pt-4">

                    <h5 class="mb-3">The total amount of</h5>

                    <ul class="list-group list-group-flush">
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Temporary amount
                            <span>$25.98</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Shipping
                            <span>$6.99</span>
                        </li>
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>The total amount of</strong>
                            </div>
                            <span><strong>$53.98</strong></span>
                        </li>
                    </ul>

                    <button type="button" class="btn btn-primary btn-block">go to checkout</button>

                </div>
            </div>
            <!-- Card -->
        </div>
        <!--Grid column-->

    </div>
    <!-- Grid row -->

</section>
{% endblock content %}