  body{
    background-color:aquamarine;
  }
  .content {
    align-items: center;
    justify-content: center;
    padding-top: 10%;
  }

  #horizontalSign{
    text-align: center;
    margin: 5% auto;
    width: 80%;
    min-width: 500px;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:linear-gradient(rgba(0, 0, 0, 0.253),rgba(0, 0, 0, 0.253)) center/2px 95% no-repeat;
    background-color: rgba(255, 255, 255, 0.80);
  }
  
  #horizontalSign #child{
    margin: 0px auto;
    width: 80%;
    max-width: 400px;
  }
  #centeredText {
    text-align: center;
  }

  .navbarStyling a{
    font-weight: bold;
    color: black;
  }
  
  .navbarStyling a{
    font-weight: bold;
    color: black;
  }

  .gradientNav {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
  }
  
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }

  .wideButtonSelection{
    display:flex;
    color: rgb(255, 0, 0);
    justify-content: space-between;
  }

  .messageBox{
    background-color: rgb(56, 255, 56);
    padding: 2px 5px;
  }

  .errorBox{
    background-color: rgb(255, 75, 75);
    padding: 2px 5px;
  }