  .content {
    
    align-items: center;
    justify-content: center;
  }
  /* .navbarStyling{
    background-color: rgb(245, 154, 17);
  }
  .navbar-nav .nav-link{
    font-weight: 500;
  }

  .navbar-nav .nav-link:hover{
    color: #ffffff;
  }

  .navbar-nav .nav-link{
    color: #cbd5db;
  }
  .navbarStyling{
    background-color: rgb(245, 154, 17);
  }
  .navbar-nav .nav-link{
    font-weight: 500;
  }

  .navbar-nav .nav-link:hover{
    color: #ffffff;
  }

  .navbar-nav .nav-link{
    color: #cbd5db;
  } */

  #horizontalSign{
    text-align: center;
    margin: 5% auto;
    width: 80%;
    min-width: 500px;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:linear-gradient(rgba(0, 0, 0, 0.253),rgba(0, 0, 0, 0.253)) center/2px 95% no-repeat;
    background-color: rgba(255, 255, 255, 0.80);
  }
  
  #horizontalSign #child{
    margin: 0px auto;
    width: 80%;
    max-width: 400px;
  }
  #centeredText {
    text-align: center;
  }

  .gradientNav {
    background: linear-gradient(45deg, #d17c78, #cf9eb6, #fcb4cc);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
  }
  .gradientBody{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
  }
  .gradientBody2 {

    background: linear-gradient(-45deg, #ffcc4c,#1fde91, #864bff, #19aad1 );
    background-size: 200% 1000%;
    animation: gradient 20s ease infinite;
    
  }
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }

  .wideButtonSelection{
    display:flex;
    justify-content: space-around;
    color: rgb(255, 0, 0);
  }